<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    あなたの食生活を理想の変化にコミットするヘルスケアアプリ
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("app-store-icon.svg", class:"apple-btn"), "#" %>
    <%= link_to image_tag("google-play-icon.png", class:"google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <p>© 2022 personal_food_test</p>
</div>